{% extends 'website/base.html' %}
{% load static %}
{% block title %}💌 Inbox{% endblock %}
{% block content %}
<section id="inbox">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-6 text-center my-1">
                            <img src="{% static 'images/favicon.png' %}" alt="Logo" class="img-fluid" width="60px">
                        </div>
                        <div class="col-md-6 text-center my-1">
                            <p class="mt-0 mb-1" style="font-size: 17px;font-weight: 700;">
                                User ID - <span class="badge badge-primary" style="font-size: 18px;letter-spacing: 1px;">{{user.username}}</span>
                            </p>
                            <p class="m-0" style="font-size: 17px;font-weight: 700;">
                                Pin - <span class="badge badge-primary" style="font-size: 18px;letter-spacing: 1px;">{{user.last_name}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card card-body">
                    <h5>
                        Dear {{user.first_name}}, Share this link with your friends and collect Anonymous Messages
                    </h5>
                    <hr>
                    <div class="container">
                        <div class="input-group">
                            <input style="font-size: 18px;" type="text" name="shareURL" id="shareURL" class="form-control" value="http://{{request.get_host}}/share?id={{user.username}}">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-clone"></i></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-2">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a style="text-decoration: none;" href="whatsapp://send?text=%E2%9C%89%EF%B8%8F%F0%9F%92%AC%F0%9F%92%8C%0D%0ASend+Secret+Message+to+%2A{{user.first_name}}%2A%0D%0A%F0%9F%A4%A9+I+will+never+know+who+sent+me+which+message+%F0%9F%A4%94%0D%0AIt%27s+fun%2C+Try+here+%F0%9F%91%89+http://{{request.get_host}}/share?id={{user.username}}" data-action="share/whatsapp/share" target="_blank"  >
                                    <div class="card card-body text-center text-white py-1" style="background-color: #1DEC40;">
                                        <i class="fa fa-whatsapp fa-2x"></i>
                                        <hr class="my-1">
                                        <p class="lead m-0">Whatsapp Story</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a href="https://twitter.com/intent/tweet?hashtags=msgprank&&text=%E2%9C%89%EF%B8%8F%F0%9F%92%AC%F0%9F%92%8C%0D%0ASend+Secret+Message+to+%2A{{user.first_name}}%2A%0D%0A%F0%9F%A4%A9+I+will+never+know+who+sent+me+which+message+%F0%9F%A4%94%0D%0AIt%27s+fun%2C+Try+here+%F0%9F%91%89+&url=http://{{request.get_host}}/message.php?id={{user.username}}" target="_blank">
                                    <div class="card card-body text-center text-white py-1" style="background-color: #0084B4;">
                                        <i class="fa fa-twitter fa-2x"></i>
                                        <hr class="my-1">
                                        <p class="lead m-0">Twitter</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <a href="#timeline" class="btn btn-primary btn-block"><i class="fa fa-chevron-circle-down"></i> Check Timeline</a>
                        <button role="button" data-toggle="modal" data-target="#settingsModal" class="btn btn-primary btn-block"><i class="fa fa-cog"></i> Settings</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1" id="timeline">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card card-body">
                    <h4 class="text-center">Annoymous Message Timeline</h4>
                    <hr>
                    {% if messages|length > 0 %}
                        {% for message in messages %}
                            <div class="card card-body bg-info text-white my-1">
                                <h5>{{message.message}}</h5>
                                <br>
                                <p class="m-0">Msg prank</p>
                                <span class="delete-button" data-id="{{message.id}}"><i class="fa fa-trash"></i></span>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="card card-body bg-dark text-white my-1">
                        <h5>Currently You Don't have any messages.</h5>
                        <br>
                        <p class="m-0">Msg prank</p>{{message.id}}
                        <!-- <span class="delete-button"><i class="fa fa-trash"></i></span> -->
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
</section>

<!-- Modals -->

<!-- Logout Modals -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Before logging out please take screenshot of the login credentials like PIN and ID {Top of the page}. <br>
            You need them to login again. PIN cannot be restored.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            <a href="{% url 'logout' %}" class="btn btn-primary">Log out</a>
        </div>
      </div>
    </div>
  </div>

<!-- Settings Modals -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="settingsModalLabel">Important Notice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Delete your account permanently.
            <br>
            After clicking delete account button, your data will be deleted from our servers.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
          <a href="{% url 'deleteAccount' %}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete Account</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
    const deleteButtons = document.querySelectorAll('.delete-button')
    //console.log(deleteButtons);

    const deleteMessage = async(e) => {
        let node = e.target
        if (e.target.className === 'fa fa-trash'){
            node = e.target.parentNode
        }
        const messageId = node.dataset.id;
        console.log(messageId);

        let res = await fetch(`/delete-message?id=${messageId}`);
        let data = await res.json()
        if(data['success']){
            node.parentNode;
            let alert = document.createElement('div');
            alert.className = 'mt-1 alert alert-success'
            alert.textContent = 'Message successfully deleted.'

            //node.parentNode.parentNode.parentGuest.parentNode.insertBefore(childGuest, parentGuest.nextSibling);
            //console.log(node.parentNode.parentNode);
            node.parentNode.parentNode.insertBefore(alert, node.parentNode)
            node.parentNode.parentNode.removeChild(node.parentNode)
            
        }

    }

    deleteButtons.forEach(deleteButton => {
        deleteButton.addEventListener('click', deleteMessage)
    })

</script>
{% endblock %}