{% extends 'website/base.html' %}
{% block title %}💌 Inbox{% endblock %}
{% block content %}
<section id="inbox">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-6 col-sm-12 mx-auto">
                <div class="card card-body bg-success text-white">
                    <h3 class="text-center">
                        Username : 3kj3r3r, Pin : 3j3klj
                    </h3>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-6 col-sm-12 mx-auto">
                <div class="card card-body bg-info text-white text-center">
                    Share this link with your friends and collect Anonymous Messages
                </div>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}