{% extends 'website/base.html' %}
{% block title %}Create Your Account | Msg Prank{% endblock %}
{% block content %}
<section id="index">
    <div class="container my-3">
        {% if msg %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6 col-sm-12 mx-auto">
                <div class="card card-body">
                    <h2 class="text-center">
                        Secret Messages 2021 <br>
                        😜
                    </h2>
                    <p class="text-center">
                        Get anonymous feedback from your friends, coworkers and Fans.
                        <br>
                        You can never know who messaged you!🔮
                    </p>
                    <hr>
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name" class="lead">Enter your name</label>
                            <input type="text" class="form-control" name="name" placeholder="Nickname" required autofocus>
                        </div>
                        <button type="submit" class="btn btn-info btn-block">Create your Link ✌</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}