{% extends 'website/base.html' %}
{% block title %}Create Your Account | Msg Prank{% endblock %}
{% block content %}
<section id="index">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-6 col-sm-12 mx-auto">
                <div class="card card-body">
                    <h1 class="text-center">
                        Secret Messages 2021 <br>
                        <span class="display-4">
                            😜
                        </span>
                    </h1>
                    <p class="text-center lead">
                        Get anonymous feedback from your friends, coworkers and Fans.
                        <br>
                        You can never know who messaged you!🔮
                    </p>
                    <hr>
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="name"><h2>Enter your name</h2></label>
                            <input type="text" class="form-control" name="name" placeholder="Nickname" required>
                        </div>
                        <button type="submit" class="btn btn-info btn-block">Create your Link ✌</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}