{% extends 'website/base.html' %}
{% block title %}Send Message | Msg Prank{% endblock %}
{% block content %}
<section id="share">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-6 col-sm-12 mx-auto">
                <div class="card card-body">
                    <h5>
                        Message {your friend} Secretly 😉, they will never know who messaged them.😅
                    </h5>
                    <hr>
                    <form action="#" method="post">
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="4" placeholder="Write your secret message here"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Send Secret Message 🤞</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}